header {
    display: flex;
    border: 1px solid #aaa;
    padding: 10px;
    justify-content: space-between;
    /* margin-bottom: 10px; */
    border-radius: 10px;
    background-color: rgb(154, 206, 183);
    /* margin-left: 25px;
    margin-right: 25px; */
}

.nav {
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: space-between;
}

.product-cart-img {
    width: 300px;
    height: 300px;
    align-items: center;
    border-radius: 10px;
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Added gap for spacing between cards */
    width: 100%; /* Updated to full width */
    margin-left: 25px;
    
}

.card {
    display: flex;
    flex-direction: column;
    margin: 3px;
    flex: 1 1 300px; /* Updated to allow flexbox to wrap */
    max-width: 300px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 10px  #040303;
    padding: 10px;
    
    
 /* Added to limit the card width */
}
.card-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;

}

.button {
    padding: 4px;
    width: 40%;
    margin-left: 30%;
    font-size: 20px;
    border-radius: 10px;
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(5, 207, 252);
    color: black;
}
.title{
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
}
.price{
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;    

}
.button-edit{
    padding: 4px;
    width: 40%;
    margin-left: 30%;
    font-size: 20px;
    border-radius: 10px;
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(96, 252, 5);
    color: black;
    margin-bottom: 10PX;
}
.button-delete{
    padding: 4px;
    width: 40%;
    margin-left: 30%;
    font-size: 20px;
    border-radius: 10px;
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(190, 0, 0);
    color: black;
}